# Distribution / packaging
.Python
.env/
build/
develop-eggs/
dist/
downloads/
eggs/
.ignored
.eggs/
lib/
lib64/
parts/
sdist/
var/
DATA/
*.egg-info/
.installed.cfg
*.egg
.python_version
.vscode
build
output
packages
.DS_Store
*.pyc
__pycache__
.cache
**/reports
build_*
.unpacked
.pytest_cache
~$*.xls*
*.csv
*.gpg
*.kbx*
random_seed
S.*
*.asc
crls.d
openpgp-*
private-keys*
.env
*.Rapp*